logs
*.log
coverage
node_modules
.project
/.idea/
*.lock
/dist/
.vagrant
/pdf/
/images/
/build
src/public/images/
src/public/pdf_images/
src/config.json
public/.thumb/
public/images/staff/
public/images/visitors/
