<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="#"  title="Help" data-toggle="popover" data-content="Location Not listed. Add the location First."><span class="glyphicon glyphicon-asterisk">Help</span></a>
            <form role="form" class="form-horizontal" action="/autoCompletePost" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="location">Location: </label>
                    <div class="col-sm-10">
                        <select name="location" class="form-control" id="location">
                            {{#each data}}
                                <option value="{{location_id}}">{{location_name}}</option>
                            {{/each}}
                                </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="type">Type: </label>
                    <div class="col-sm-10">
                        <select name="type" class="form-control" id="type">
                            <option value="visitor_name">Visitor Name</option>
                            <option>Company</option>
                            <option>Visiting</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="suggestion">Suggestion: </label>
                    <div class="col-sm-10">
                        <input class="form-control"  id="suggestion" name="suggestion"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <input type="submit" class="sbm-btn btn btn-sm btn-primary" value="Add Suggestion">
                    </div>
                    <div class="col-sm-7">
                        <label style="margin-top: 20px;"><input type="checkbox" name="another"  checked ><span style="margin-left:13px">Create Another</span></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/jquery-1.12.3.min.js" ></script>
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
<script>
    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null){
            return null;
        }
        else{
            return results[1] || 0;
        }
    };

    $('#type').val($.urlParam('type'));

</script>
