<!--<script type="text/javascript">-->
    <!--window.onload = function () {-->

        <!--var dps = [];-->

        <!--{{#each data}}-->

            <!--dps.push({x: {{setkey}}, y: {{setVal}} });-->

        <!--{{/each}}-->


        <!--var chart = new CanvasJS.Chart("chartContainer",{-->
            <!--title :{-->
                <!--text: "Live Status"-->
            <!--},-->
            <!--axisX: {-->
                <!--title: "Time",-->
                <!--maximum:24-->
            <!--},-->
            <!--axisY: {-->
                <!--title: "Status",-->

            <!--},-->
            <!--data: [{-->
                <!--type: "line",-->
                <!--dataPoints : dps-->
            <!--}]-->
        <!--});-->

        <!--chart.render();-->
        <!--var updateInterval = 10000;-->

        <!--var updateChart = function () {-->

            <!--$.ajax({-->
                <!--url: '/graph/getData',-->
                <!--type: 'GET',-->
                <!--success: function (response) {-->
                    <!--$.map(response.data.result, function (statusData) {-->
                        <!--console.log(parseFloat(statusData.setKey), parseInt(statusData.setVal));-->
                        <!--dps.push({x:  parseFloat(statusData.setKey) , y:  parseInt(statusData.setVal)});-->
                    <!--})-->
                <!--}-->
            <!--});-->

            <!--if (dps.length >  1 )-->
            <!--{-->
                <!--dps.shift();-->
            <!--}-->

            <!--chart.render();-->

            <!--// update chart after specified time.-->

        <!--};-->

        <!--setInterval(function(){updateChart()}, updateInterval);-->
    <!--}-->
<!--</script>-->

<script type="text/javascript">

var points_data = {
    "Time": [ {{{data}}} ]
};

    var points = [];

    for (var i in points_data) {
        var p = {
            "type": "stepLine",
            "showInLegend": "true",
            markerSize: 5
        };
        p.name = i;
        //alert(p.name);
        p.dataPoints = [];
        var mColor= "black";
        for (var j = 0; j < points_data[i].length; j++) {
            //alert(new Date(points_data[i][j].dateTime));
            //alert(points_data[i][j].value);
            if(points_data[i][j].setVal == 0){
                mColor = "red"
            }else{
                mColor = ""
            }
            p.dataPoints.push({
                x: new Date(points_data[i][j].setkey),
                y: parseFloat(points_data[i][j].setVal),
                markerColor: mColor
            });
        }
        points.push(p);

    }
    //alert(points);
    window.onload = function() {
                var chart = new CanvasJS.Chart("chartContainer", {
                    title: {
                        text: "Live Status"
                    },

                    toolTip: {
                        contentFormatter: function (e) {
                            var content = " ";
                            var status = "Up";
                            for (var i = 0; i < e.entries.length; i++) {
                                if(e.entries[i].dataPoint.y == 0){
                                    status = "Down"
                                }
                                content += e.entries[i].dataPoint.x.getHours() + ":" + e.entries[i].dataPoint.x.getMinutes()+ " " + "<strong>" + status + "</strong>";
                                content += "<br/>";
                            }
                            return content;
                        }
                    },

                    animationEnabled: true,

                    axisX: {
                        title: "",
                        gridThickness: 2,
                        interval: 30,
                        intervalType: "minute",
                        valueFormatString: "HH:mm",
                        labelAngle: -80
                    },
                    axisY: {
                        title: "Value",
                        includeZero: false
                    },
                    data: points

                });

                chart.render();

        var updateInterval = 1000;

        var updateChart = function () {

            $.ajax({
                url: '/graph/getData',
                type: 'GET',
                success: function (response) {
//                    $.map(response.data.result, function (statusData) {
//                        console.log(parseFloat(statusData.setKey), parseInt(statusData.setVal));
//                        dps.push({x:  parseFloat(statusData.setKey) , y:  parseInt(statusData.setVal)});
//                    })

                    console.log(response.data.result);
                     points_data = {
                        "Time": [ response.data ]
                    };

                    for (var i in points_data) {
                        var p = {
                            "type": "line",
                            "showInLegend": "true"
                        };
                        p.name = i;
                        //alert(p.name);
                        p.dataPoints = [];
                        for (var j = 0; j < points_data[i].length; j++) {
                            //alert(new Date(points_data[i][j].dateTime));
                            //alert(points_data[i][j].value);
                            p.dataPoints.push({
                                x: new Date(points_data[i][j].setkey),
                                y: parseFloat(points_data[i][j].setVal)
                            });
                        }
                        points.push(p);

                    }
                }
            });

            if (points.length >  1 )
            {
                points.shift();
            }

            chart.render();

            // update chart after specified time.

        };

           // setInterval(function(){updateChart()}, updateInterval);
            }
</script>
            <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.js"></script>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
