<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form role="form" class="form-horizontal" id="addMarshall"  action="/firstAid" method="post">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="location">Location: </label>
                    <div class="col-sm-9">
                        <select name="location" class="form-control" id="location">
                            <option value="">Select</option>
                            {{#each data}}
                                <option value="{{id}}">{{tablet_name}} - ({{location_name}})</option>
                            {{/each}}
                            <!--<option>WDC</option>-->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="first_aider">First Aider Name: </label>
                    <div class="col-sm-9">
                        <select name="first_aider" class="form-control" id="first_aider">
                            <option value="">Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="first_aider_email">First Aider Email: </label>
                    <div class="col-sm-9">
                        <input class="form-control"  pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" title="test@gmail.com" id="first_aider_email" name="first_aider_email"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3 col-sm-offset-2">
                        <input type="submit" class="sbm-btn btn btn-sm btn-primary" value="Add Marshall">
                    </div>
                    <div class="col-sm-7">
                        <label style="margin-top: 20px;"><input type="checkbox" name="another"  checked ><span style="margin-left:13px">Create Another</span></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/jquery-1.12.3.min.js" ></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
        $("#location").change(function(){
            var contentPanelId = jQuery(this).val();
            $.ajax({
                url: '/allStaff?tabId='+contentPanelId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                success: function(response) {

                    var allAiderOptions = "";
                    $.each(response.data, function(index, value) {
                        allAiderOptions  += '<option value="' + value.employee_number +'">'+ value.first_name + " " + value.surname + '</option>';
                    });

                    $('#first_aider').append(allAiderOptions);
                },
                error: function () {
                    //your error code
                    console.log('Error while fetching data');
                }
            });
        });
    });
</script>

